<div class="container">
  <div class="row">
      <div class="com-lg-12">
<carousel>
  <slide>
    <img src="assets/images/event1.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/event2.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/event3.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
</div>
</div>
</div>

<!--Loading Events dynamically-->


<div class='row'>
    <div class="col-sm-4"  *ngFor='let event of Events'>
        <div class="thumbnail">
      <img  src="assets/images/event1.jpg" alt="Card image cap" style="height:200px;">
      <div class="caption">
        <h4 class="card-title">{{event.eventName}}({{event.description}})</h4>
        <h5 class="card-title">Event Date: {{event.eventDate}}</h5>
        <h6 class="card-title">Rate: {{event.eventAmount}}</h6>
       
       
        <button (click)="borrowBook(book.bookId)"  class="btn btn-primary">Book a seat</button>
      </div>
      </div>
    </div>
  </div>
    